@charset "utf-8";

/* -------- sub_content(사진 리스트) -------- */
#container_campaign .photo_list_top .sns_etc .remove_wrap, #container_campaign .photo_list_top .sns_etc .like_wrap, #container_campaign .photo_list_top .sns_etc .share_wrap{position:relative;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;height:40px;float:left}
#container_campaign .photo_list_top .sns_etc .remove_wrap .button_remove{width:21px;height:23px;background:url(/image/sub_campaign/icon/icon_remove.png) no-repeat;line-height:500px;overflow:hidden;background-color:transparent;cursor:pointer;background-size:24px;margin-right:10px;}

/* -------- sub_content(검색 리스트) -------- */
#container_campaign .seach_result{display:block;font-size: 20px;color: #666666;font-weight: 600;margin-bottom:20px;}
#container_campaign .seach_result span{color:#00c3bd;}
#container_campaign .searchlist_top_menu{padding-bottom:15px;padding-top:10px;}
#container_campaign .searchlist_word_mobile{display:none;text-align:center;font-size:18px;font-weight:600;color:#666666;padding:0 10px;margin-top:25px;width:100%;box-sizing:border-box;}
#container_campaign .searchlist_word_mobile .searchlist_word{color:#00c3bd;}
#container_campaign .searchlist_menu{display:none;box-sizing:border-box;background:url(/image/sub_campaign/icon/ico_arr_down.png) no-repeat 88% center;background-color:#fff;color:#00c3bd;padding:10px 0 10px 20px;border:1px solid #00c3bd;width:170px;text-align:left;-webkit-border-radius:40px;-moz-border-radius:40px;border-radius:40px;margin:15px auto 0 auto;font-size:17px;font-weight:600;}
#container_campaign .searchlist_menu.on{background:url(/image/sub_campaign/icon/ico_arr_up.png) no-repeat 88% center;}
#container_campaign .searchlist_top{text-align:center;margin-bottom:10px;}
#container_campaign .searchlist_top ul{display:inline-block;}
#container_campaign .searchlist_top ul li{float:left;box-sizing:border-box;padding-left:15px;margin-left:15px;border-left:1px solid #dfdfdf;}
#container_campaign .searchlist_top ul li:first-child{margin-left:0px;padding-left:0;border-left:0;}
#container_campaign .searchlist_top ul li a{display:block;font-size:18px;color:#666666;font-weight:600;}
#container_campaign .searchlist_top ul li a span{color:#00c3bd;padding-left:10px;}


/* --------------------------------------------
 *
 *	미디어쿼리 구문
 *
 *  --------------------------------------------*/

/* 모바일 */
@media all and (max-width: 768px) {
    #container_campaign .searchlist_top, #container_campaign .seach_result{display:none;}
    #container_campaign .searchlist_word_mobile, #container_campaign .searchlist_menu{display:block;}
    #container_campaign .searchlist_word_mobile{margin-top:20px;}
    #container_campaign .searchlist_menu{padding:7px 0px 7px 20px;font-size:15px;font-weight:400;}
    #container_campaign .searchlist_top ul{width:100%;}
    #container_campaign .searchlist_top ul li{width:100%;padding:5px;border-bottom:1px solid #eee;border-left:0;margin:0;}
    #container_campaign .searchlist_top ul li a{padding:10px 5px}
    #container_campaign .searchlist_top ul li:first-child{border-top:1px solid #22b7b2}
    #container_campaign .searchlist_top ul li.mobile_hide{display:none;}

}

/* 테블렛 */
@media all and (min-width: 768px) and (max-width: 1160px) {

    #container_campaign .searchlist_top, #container_campaign .seach_result{display:none;}
    #container_campaign .searchlist_word_mobile, #container_campaign .searchlist_menu{display:block;}
    #container_campaign .searchlist_top ul{width:100%;}
    #container_campaign .searchlist_top ul li{width:100%;border-bottom:1px solid #eee;border-left:0;margin:0;}
    #container_campaign .searchlist_top ul li a{padding:10px 5px}
    #container_campaign .searchlist_top ul li:first-child{border-top:1px solid #22b7b2}
    #container_campaign .searchlist_top ul li.mobile_hide{display:none;}


}
/* 데스크탑 */
@media all and (min-width: 1160px) {
    #container_campaign .searchlist_top{display:block !important;}
    #container_campaign .searchlist_top ul li a{color:#c1bcbe}
    #container_campaign .searchlist_top ul li a span{color:#c1bcbe;padding-left:10px;}
    #container_campaign .searchlist_top ul li.on a{display:block;font-size:18px;color:#666666;font-weight:600;}
    #container_campaign .searchlist_top ul li.on a span{color:#00c3bd;padding-left:10px;}
    #container_campaign .searchlist_top ul li.mobile_hide a{color:#666666;}
}